@use "../abstracts/colors";

.volume-slider {
    width: 1;
    background-color: map-get(colors.$background-gray, "background-color");  
    height: 0.5135rem;
    border-radius: 0.3125rem;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        background: map-get(colors.$background-purple, "background-color");  
        border-radius: 50%;

    }

}